body
{
    background-color: rgb(227, 234, 240);
}
.biodatamain
{
    display: flex;
    justify-content: center;
}
.biodata
{
     background-color: white;
     border-radius: 0.3rem;
}
.biodata table
{
    padding: 1rem;
}
.biodata th
{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 2rem;
    width: 10rem;
}
.biodata td
{
    width: 10rem;
}
input
{
    height: 1.5rem;
}
.buttonarea
{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
}
.sub
{
    width: 5rem;
    height: 1.6rem;
    background-color: rgb(86, 223, 86);
    cursor: pointer;
    border: none;
    font-family: sans-serif;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}
.re
{
    width: 5rem;
    height: 1.6rem;
    background-color: red;
    cursor: pointer;
    border: none;
    font-family: sans-serif;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
} 
.biodataResult
{
    
    display: flex;
    justify-content: center;
}
.biodataResult td
{
    width: 18rem;
    padding-left: 0.5rem;
}
#res
{
    padding: 0.4rem;
    width: 21rem;
    background-color: white;
    font-family: sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    display: none;
}




